page-login {
    $margin: 70px auto;
    $sizeFontCheck: 12px;
    $sizeImg:100px;
    $loginColor:     #FDA232; 
    $textLembraColor: #808080;
    $inputColor:#D1E1FF;

   border-bottom:0;

 img{
    
    display:block; 
    margin: $margin;
    width: $sizeImg;
    height: $sizeImg;
 }
 .check{
    font-size: $sizeFontCheck;
    
 }
 ion-input.input.input{
   background-color: $inputColor;
}

 ion-input.input.input{
    background-color: $inputColor;
}  

  #lbl-0, #lbl-1{
   font-weight: bold;
 }

 #lbl-2{
   font-size: 12px;
   color:$textLembraColor;
}

 .button {
    background-color: $loginColor;
    width: 150px;
 }
}
