page-home {
    $distancia_top:20px;
    $marginMensagem: 20px auto;
    $marginNome: auto 30px;
    .button-full-md {
        top: $distancia_top;
    }
    
    .mensagem{
        margin: $marginMensagem;
    }

    .item-inner {
        margin: $marginNome;
    }

}
