page-home {
    $distancia_top:20px;
    $marginMensagem: 20px auto;
    $tamanhoAvatar:100px;
    
    .item ion-avatar[item-left],
    .item ion-thumbnail[item-left],
    .item ion-avatar[item-start],
    .item ion-thumbnail[item-start] {
      margin: 8px 16px 31px 0;
    }
    .fab .button-inner {
        font-size: 27px;
    }
    .button-full {
        top: $distancia_top;
    }
    
    .mensagem{
        margin: $marginMensagem;
    }

    .col p{
        font-size: 11px;
    }
    
    .item ion-avatar img {
        width: $tamanhoAvatar;
        height: $tamanhoAvatar;
      }

      .bar-buttons {
        background-color:color($colors,danger);
        border-radius: 5px;
    }

    .item ion-avatar img {
        width: $tamanhoAvatar;
        height: $tamanhoAvatar;
        border-radius: 50%
      }

}
