page-home {
    $distancia_top:20px;
    $marginMensagem: 20px auto;
    $tamanhoAvatar:100px;
    
    .button-full-md {
        top: $distancia_top;
    }
    
    .mensagem{
        margin: $marginMensagem;
    }

    .item-md ion-avatar img {
        width: $tamanhoAvatar;
        height: $tamanhoAvatar;
      }

    

}
