<ion-header>

    <ion-navbar>
        <ion-title>Home</ion-title>
        <ion-buttons start>
            <button ion-button icon-end (click)="logout()">
                Logout
                <ion-icon name="exit"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-item>
        <ion-avatar item-start (click)="changePhoto()">
        <div *ngIf="photo == null">
            <ion-fab top left >
            <button ion-fab>{{iniciais}}</button>
            </ion-fab>
        </div>
        <div *ngIf="photo != null">
            <img src={{photo}}>
         </div>
        </ion-avatar>
        
        <div *ngIf="user != null">
            <h2>{{user.nome}}</h2>
            <p>{{user.login}} </p>z
            
        </div>
    </ion-item>


    <div *ngIf="postDestaque != null">
        <post [post]="postDestaque"></post>
    </div>


    <button ion-button icon-start block outline round (click)="listPost()">
        <ion-icon name="list-box"></ion-icon>
        Post
    </button>

    <button class="mensagem" ion-button block outline icon-start round (click)="listMessage()">
        <ion-icon name="mail"></ion-icon>
        <p>Mensagens</p>
    </button>
  
   

</ion-content>