page-alterar-foto {
  $tamanho:100px;
  $marginBotoes : 35px;
    
     .image{
        margin: $marginBotoes;
        
     }
 
      .fab {
          width: $tamanho;
          height: $tamanho;
      }
}
