post {
   
    p#mensagem {
        max-width: 120ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    .card {
        background-color:$colorCard;
        border-radius: 10px;
    }
}
